# Database 

## Schema :

    description of database

## MySQLdb 
    
    - import MySQLdb
    - use for database connectivity
    
## Connection syntax

    db =sql.connect("localhost","root","","database_name")
    
## How to create Cursor
     
     in this every time for database cursor is created
     
     syntax : a = db.cursor()
     
## Commit 

    in this after every transaction commit is given 
    
    syntax : db.commit()

In [9]:
import pymysql as ps

In [90]:
db = ps.connect("localhost","root","","python")

In [91]:
db

In [92]:
c=db.cursor()

In [93]:
sql = "INSERT INTO `student`(`Id`, `name`, `roll`) VALUES (3,'Divyal',45)"

In [94]:
c.execute(sql)

1

In [95]:
db.commit()

# Database COnnectivity

## MySQLdb
## pysql
## mysqlclient
## pythonmysql
## sqlite3

In [96]:
import pymysql as ps

In [97]:
db = ps.connect("localhost","root","","python")

In [98]:
cur=db.cursor()

In [100]:
cur.execute("INSERT INTO `student`(`name`, `roll`) VALUES ('Krina',49)")

1

In [101]:
db.commit()

# Select statement

In [102]:
db =ps.connect("localhost","root","","python")

In [103]:
cur=db.cursor()

In [104]:
cur.execute("SELECT * FROM `student`")

4

In [105]:
for row in cur:
    print(row)

(1, 'Khushbu', 48)
(2, 'Janvi', 20)
(3, 'Divyal', 45)
(4, 'Krina', 49)

In [24]:
db.commit()

# fetchall()

    syntax : cur.fetchall()
    
    it use to display data

In [106]:
db =ps.connect("localhost","root","","python")

In [107]:
cur=db.cursor()

In [108]:
cur.execute("SELECT * FROM `student`")

4

In [109]:
cur.fetchall()

((1, 'Khushbu', 48), (2, 'Janvi', 20), (3, 'Divyal', 45), (4, 'Krina', 49))

In [110]:
db.commit()

In [111]:
cur=db.cursor()

In [112]:
cur.execute("SELECT * FROM `student` WHERE country = 'India'")

2

In [113]:
cur.fetchall()

((2, 'Janvi', 20, 'India'), (3, 'Divyal', 45, 'India'))

In [114]:
db.commit()

In [115]:
cur=db.cursor()

In [116]:
cur.execute("SELECT country FROM `student`")

4

In [117]:
cur.fetchall()

(('Australia',), ('India',), ('India',), ('United States',))

In [118]:
db.commit()

# AND,OR,NOT
    
    for multipale condition checking

In [119]:
cur=db.cursor()

In [120]:
cur.execute("SELECT * FROM `student` WHERE country ='India' AND name='Divyal'")

1

In [121]:
cur.fetchall()

((3, 'Divyal', 45, 'India'),)

In [122]:
cur.execute("SELECT * FROM `student` WHERE country ='India' OR name='Divyal'")

2

In [123]:
cur.fetchall()

((2, 'Janvi', 20, 'India'), (3, 'Divyal', 45, 'India'))

In [124]:
cur.execute("SELECT * FROM `student` WHERE NOT country ='India'")

2

In [125]:
cur.fetchall()

((1, 'Khushbu', 48, 'Australia'), (4, 'Krina', 49, 'United States'))

In [126]:
db.commit()

# ORDER By
    
    The ORDER BY keyword is used to sort the result-set in ascending or descending order.
    
    To sort the records in descending order, use the DESC keyword and for acending use ASC. by default acending.
    
# GROUP By
    
    The GROUP BY statement is often used to group the result-set by one or more columns.

In [127]:
cur=db.cursor()

In [128]:
cur.execute("SELECT count(Id),country FROM `student` GROUP BY country")

3

In [129]:
cur.fetchall()

((1, 'Australia'), (2, 'India'), (1, 'United States'))

In [130]:
cur.execute("SELECT * FROM `student` ORDER BY country")

4

In [131]:
cur.fetchall()

((1, 'Khushbu', 48, 'Australia'),
 (2, 'Janvi', 20, 'India'),
 (3, 'Divyal', 45, 'India'),
 (4, 'Krina', 49, 'United States'))

In [132]:
db.commit()

# Sqlite database

In [133]:
import sqlite3 as sql

In [134]:
db = sql.connect("python.db")

In [135]:
cur =db.cursor()

In [136]:
cur.execute("CREATE TABLE student(id INT PRIMARY KEY,name VARCHAR,roll INT )")

OperationalError: table student already exists

In [138]:
db.commit()

In [148]:
cur.execute("INSERT INTO student VALUES(2,'Krina',49)")

OperationalError: near "'Krina'": syntax error

In [149]:
db.commit()

In [150]:
cur.execute("SELECT * FROM student").fetchall()

[(1, 'Divyal', 45),
 (None, 'Divyal', 45),
 (None, 'Divyal', 45),
 (None, 'Krina', 49),
 (2, 'Krina', 49)]