In [1]:
class name:
    def __init__(self):
        print("hello")
        
a=name()

hello

In [2]:
class student:
    

    def getdata(self,name,roll,contact):
        self.name = name
        self.roll = roll
        self.contact =contact
        
    def display(self):
        print("name :" ,self.name)
        print("roll :" ,self.roll)
        print("contact :" ,self.contact)
        
s=student()

s.getdata('divyal',45,1234556670)
s.display()

name : divyal
roll : 45
contact : 1234556670

In [3]:
class student:
    
    name = 'divyal'

    def getdata(self,roll,contact):
        
        self.roll = roll
        self.contact =contact
        
    def display(self):
        print("name :" ,self.name)
        print("roll :" ,self.roll)
        print("contact :" ,self.contact)
        
s=student()

s.getdata(45,1234556670)
s.display()

name : divyal
roll : 45
contact : 1234556670

In [4]:


class student:
    
    name = 'divyal'

    def __init__(self,roll,contact):
        
        self.roll = roll
        self.contact =contact
        
    def display(self):
        print("name :" ,self.name)
        print("roll :" ,self.roll)
        print("contact :" ,self.contact)
        
s=student(45,12345657789)


s.display()

name : divyal
roll : 45
contact : 12345657789

# string concatation


## capitalize() : 

    capitalize first letter only
    
## casefold() : 

    for decoding the string
     
     to make two string into one string formate such as utf-8
    
## count(' ') : 

    number of occurance of string
    
## encode() :

    to scrap encoded data
    
## endswith(" ") :
    
    to check basic grammaer rules from the end of string
    return false or true value
    
## find()  or index() : 

    return location of string
    
## format 

    concatinate the string

## split()
    
    seprate the string by passing seprater in argument
    
## join()

    joint the string by passenig array argument

    syntax : "".join(array argument)
     
## maketrans()
    
     Returns a translation table to be used in translations

## translate()
 
    Returns a translated string 
    it use with ### maketrans() method

In [5]:
     a= "Hello Python"
    
a.capitalize()

'Hello python'

In [6]:
a.casefold()

'hello python'

In [7]:
a.count('l')

2

In [8]:
a.encode()

b'Hello Python'

In [9]:
"i was playing".endswith("ing")

True

In [10]:
"i was playing football".endswith("ing")

False

In [11]:
a.find("P")

6

In [12]:
a.index("P")

6

In [13]:
name = "Divyal"
age = 20


"{} is {} years old".format(name,age)

'Divyal is 20 years old'

In [14]:
st=name+" is "+str(age)+" year old"

st

'Divyal is 20 year old'

In [15]:
s = "Hello Python 1"

s=s.split(" ")

In [16]:
" ".join(s)

'Hello Python 1'

In [17]:
"+".join(s)

'Hello+Python+1'

In [18]:
" i ".join(s)

'Hello i Python i 1'

In [19]:
"\"".join(s)

'Hello"Python"1'

In [20]:
"\'".join(s)

"Hello'Python'1"

In [21]:
a = input("enter the alphabets").split(" ")

a

enter the alphabets

['']

In [22]:
a ="abc".maketrans({"a":1,"b":2,"c":3})
b="abc".translate(a)
b.translate(a)

'\x01\x02\x03'

In [23]:
a="abc".maketrans({"a":1,"b":2,"c":3," ":4})

a

{97: 1, 98: 2, 99: 3, 32: 4}

In [24]:
b="abc".translate(a)
b.translate(a)

'\x01\x02\x03'

## try and except method
    
    syntax: try:
                ......
                
            except:
                ......
               
  built in : Type Error
             Arethmetic Error
             .......

In [25]:
try:
    
    print("Error"+3)
except:
    print("error created")

error created

In [26]:
try:
    
    print("Error"+3)
except:
    print("input "+str(3))

input 3

In [27]:
"Hello".isalnum()

True

In [28]:
"Hello".isalpha()

True

In [29]:
"hell0123".isdecimal()

False

In [30]:
"789".isascii()

True

In [31]:
"hello".isprintable()

True

In [32]:
"12345".isdigit()

True

In [33]:
"Hello".istitle()

True

# Loops

## break

     it simply break the line 
     
## continue

     it skip the next line and go back to the loop
     
## pass

     it will use to define empty function
     it also use for debugging, testing and skip the line

In [34]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

In [35]:
for i in range(10):
    if i==5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [36]:
for i in range(10):
    if i==5:
        continue
        print(i)
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [37]:
def food():
    pass

In [38]:
a=0

while a<10:
    if a==5:
        break
    else:
        print(a)
    a += 1

0
1
2
3
4