# Database 

## Schema :

    description of database

## MySQLdb 
    
    - import MySQLdb
    - use for database connectivity
    
## Connection syntax

    db =sql.connect("localhost","root","","database_name")
    
## How to create Cursor
     
     in this every time for database cursor is created
     
     syntax : a = db.cursor()
     
## Commit 

    in this after every transaction commit is given 
    
    syntax : db.commit()

In [9]:
import pymysql as ps

In [10]:
db = ps.connect("localhost","root","","python")

In [11]:
db

In [12]:
c=db.cursor()

In [13]:
sql = "INSERT INTO `student`(`name`, `roll`) VALUES ('Khushbu',48)"

In [14]:
c.execute(sql)

c:\python37\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'country' doesn't have a default value")
  result = self._query(query)

1

In [7]:
db.commit()

# Database COnnectivity

## MySQLdb
## pysql
## mysqlclient
## pythonmysql
## sqlite3

In [1]:
import pymysql as ps

In [39]:
db = ps.connect("localhost","root","","python")

In [40]:
cur=db.cursor()

In [41]:
cur.execute("INSERT INTO `student`(`name`, `roll_no`) VALUES ('Janvi',20)")

1

In [42]:
db.commit()

# Select statement

In [2]:
db =ps.connect("localhost","root","","python")

In [11]:
cur=db.cursor()

In [7]:
cur.execute("SELECT * FROM `student`")

8

In [9]:
for row in cur:
    print(row)

(1, 'Divyal', 45, 'India')
(2, 'Nidhi', 54, 'India')
(3, 'Dhruvi', 12, 'Canada')
(4, 'Vrutti', 99, 'London')
(5, 'krina', 49, 'United States')
(6, 'Khushbu', 48, 'Australia')
(7, 'Radhi', 56, 'India')
(8, 'Janvi', 20, 'India')

In [18]:
db.commit()

# fetchall()

    syntax : cur.fetchall()
    
    it use to display data

In [12]:
db =ps.connect("localhost","root","","python")

In [13]:
cur=db.cursor()

In [16]:
cur.execute("SELECT * FROM `student`")

8

In [17]:
cur.fetchall()

((1, 'Divyal', 45, 'India'),
 (2, 'Nidhi', 54, 'India'),
 (3, 'Dhruvi', 12, 'Canada'),
 (4, 'Vrutti', 99, 'London'),
 (5, 'krina', 49, 'United States'),
 (6, 'Khushbu', 48, 'Australia'),
 (7, 'Radhi', 56, 'India'),
 (8, 'Janvi', 20, 'India'))

In [19]:
db.commit()

In [20]:
cur=db.cursor()

In [21]:
cur.execute("SELECT * FROM `student` WHERE country = 'India'")

4

In [22]:
cur.fetchall()

((1, 'Divyal', 45, 'India'),
 (2, 'Nidhi', 54, 'India'),
 (7, 'Radhi', 56, 'India'),
 (8, 'Janvi', 20, 'India'))

In [23]:
db.commit()

In [24]:
cur=db.cursor()

In [25]:
cur.execute("SELECT country FROM `student`")

8

In [26]:
cur.fetchall()

(('India',),
 ('India',),
 ('Canada',),
 ('London',),
 ('United States',),
 ('Australia',),
 ('India',),
 ('India',))

In [27]:
db.commit()

# AND,OR,NOT
    
    for multipale condition checking

In [28]:
cur=db.cursor()

In [29]:
cur.execute("SELECT * FROM `student` WHERE country ='India' AND name='Divyal'")

1

In [30]:
cur.fetchall()

((1, 'Divyal', 45, 'India'),)

In [31]:
cur.execute("SELECT * FROM `student` WHERE country ='India' OR name='Divyal'")

4

In [32]:
cur.fetchall()

((1, 'Divyal', 45, 'India'),
 (2, 'Nidhi', 54, 'India'),
 (7, 'Radhi', 56, 'India'),
 (8, 'Janvi', 20, 'India'))

In [35]:
cur.execute("SELECT * FROM `student` WHERE NOT country ='India'")

4

In [34]:
cur.fetchall()

((3, 'Dhruvi', 12, 'Canada'),
 (4, 'Vrutti', 99, 'London'),
 (5, 'krina', 49, 'United States'),
 (6, 'Khushbu', 48, 'Australia'))

In [36]:
db.commit()

# ORDER By
    
    The ORDER BY keyword is used to sort the result-set in ascending or descending order.
    
    To sort the records in descending order, use the DESC keyword and for acending use ASC. by default acending.
    
# GROUP By
    
    The GROUP BY statement is often used to group the result-set by one or more columns.

In [37]:
cur=db.cursor()

In [38]:
cur.execute("SELECT count(Id),country FROM `student` GROUP BY country")

5

In [39]:
cur.fetchall()

((1, 'Australia'),
 (1, 'Canada'),
 (4, 'India'),
 (1, 'London'),
 (1, 'United States'))

In [42]:
cur.execute("SELECT * FROM `student` ORDER BY country")

8

In [43]:
cur.fetchall()

((6, 'Khushbu', 48, 'Australia'),
 (3, 'Dhruvi', 12, 'Canada'),
 (1, 'Divyal', 45, 'India'),
 (2, 'Nidhi', 54, 'India'),
 (7, 'Radhi', 56, 'India'),
 (8, 'Janvi', 20, 'India'),
 (4, 'Vrutti', 99, 'London'),
 (5, 'krina', 49, 'United States'))

In [44]:
db.commit()

# Sqlite database

In [1]:
import sqlite3 as sql

In [2]:
db = sql.connect("python.db")

In [3]:
cur =db.cursor()

In [4]:
cur.execute("CREATE TABLE student(id INT PRIMARY KEY,name VARCHAR,roll INT )")

In [5]:
db.commit()

In [6]:
cur.execute("INSERT INTO student VALUES(1,'Divyal',45)")

In [7]:
db.commit()

In [9]:
cur.execute("SELECT * FROM student").fetchall()

[(1, 'Divyal', 45)]